HTML {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: calc(1em * .625);
}
BODY {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background: #000;
}

.ease-InOutBack {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.ease-InOutExpo {
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
.ease-OutExpo {
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.ease-InOutExpo-1s {
    transition: all 1s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

#worldmap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .map {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -640px;
        margin-left: -640px;
        // width: 100%;
        // height: 100%;
        user-select: none;
        -webkit-user-drag: none;
        transition: 0.1s ease-out;
        cursor: grab;
        img {
            pointer-events: none;
        }
        &.isGrabbing {
            cursor: grabbing;
        }
    }
    .over-block {
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 10px;
        background: rgba(0, 0, 0, 0.75);
        color: #FFFFFF;
        font-size: 1.4rem;
        z-index: 1;
        h1 {
            margin: 0;
        }
        h2 {
            margin: 1em 0 0 0;
        }
        #fn-info,
        #probe-info {
            display: none;
        }
        #fn-info.display,
        #probe-info.display {
            display: block;
        }
        .probe-type {
            font-family: monospace;
        }
        #fn-total {
            text-align: right;
            > span {
                &.fn-value {
                    display: inline-block;
                    min-width: 60px;
                }
                &.notice {
                    display: inline-block;
                    border-bottom: 1px dotted #666;
                    cursor: help;
                }
            }
        }
    }
}

#worldmap #probes-list {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        outline: 0;
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 28px;
        width: 28px;
        margin: -14px auto auto -13px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 26px;
            box-sizing: border-box;
            pointer-events: none;
            z-index: 1;
            color: #FFFFFF;
            text-shadow: 1px 1px 1px #000000;
            font-size: 1.4rem;
            font-family: 'Tahoma';
            letter-spacing: -0.5px;
        }
        &[data-level="1"]:before {
            content: 'I';
        }
        &[data-level="2"]:before {
            content: 'II';
        }
        &[data-level="3"]:before {
            content: 'III';
        }
        &[data-level="4"]:before {
            content: 'IV';
        }
        &[data-level="5"]:before {
            content: 'V';
        }
        &[data-level="6"]:before {
            content: 'VI';
        }
        &[data-level="7"]:before {
            content: 'VII';
        }
        &[data-level="8"]:before {
            content: 'VIII';
        }
        &[data-level="9"]:before {
            content: 'IX';
        }
        &[data-level="10"]:before {
            content: 'X';
        }
        &[site="NLA"]:before {
            display: none;
        }
        &:after {
            content: '';
            position: absolute;
            height: 38px;
            width: 38px;
            top: -5px;
            left: -5px;
            // border: 3px solid transparent;
            border: 2px solid transparent;
            border-radius: 50%;
            box-sizing: border-box;
            pointer-events: none;
            z-index: 1;
        }
        &.opened {
            &:after {
                animation-name: opened;
                // animation-duration: 1s;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
            }
        }
        .circle {
            position: absolute;
            height: 40px;
            width: 40px;
            top: -6px;
            left: -6px;
            border: 4px solid transparent;
            border-radius: 50%;
            box-sizing: border-box;
            pointer-events: none;
            transition: all 500ms;
            &:before {
                content: '';
                position: absolute;
                height: 38px;
                width: 38px;
                top: -3px;
                left: -3px;
                border: 2px solid transparent;
                border-radius: 50%;
                box-sizing: border-box;
                pointer-events: none;
                transition: all 500ms;
            }
        }
        &.linked {
            .circle {
                border-color: rgba(117, 32, 25, 0.6);
                &:before {
                    border-color: #ec5044;
                }
            }
        }
        &.nla {
            cursor: default;
            background-image: url(../images/probe_nla.png);
        }
        &.basic {
            background-image: url(../images/probe_basic.png);
        }
        &.production {
            background-image: url(../images/probe_production.png);
        }
        &.revenue {
            background-image: url(../images/probe_revenue.png);
        }
        &.storage {
            background-image: url(../images/probe_storage.png);
        }
        &.booster {
            background-image: url(../images/probe_booster.png);
        }
        &.duplicator {
            background-image: url(../images/probe_duplicator.png);
        }
        &.fuel {
            background-image: url(../images/probe_fuel.png);
        }
        &.melee {
            background-image: url(../images/probe_melee.png);
        }
        &.ranged {
            background-image: url(../images/probe_ranged.png);
        }
        &.debuff {
            // background-image: url(../images/probe_debuff.png);
            background-image: url(../images/probe_fuel.png);
        }
        &.resistance {
            background-image: url(../images/probe_resistance.png);
        }
    }
}

@keyframes opened {
    0% {
        transform: scale(2);
        // transform: scale(0.65);
        border-color: #fff;
        // border-width: 5px;
    }
    80% {
        transform: scale(0.65);
        // transform: scale(2);
        border-color: transparent;
        // border-width: 10px;
    }
    100% {
    }
}

#worldmap #probes-links {
    position: absolute;
    top: 0;
    left: 0;
    > svg {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        > line {
            &.link {
                &.blue {
                    stroke: rgba(66, 123, 191, 0.7);
                    stroke-width: 3px;
                    transition: all 500ms;
                }
                &.white {
                    stroke: rgb(100, 217, 250);
                    stroke-width: 1.5px;
                    transition: all 500ms;
                }
            }
        }
        &.linked {
            > line {
                &.link {
                    &.blue {
                        stroke: rgba(204, 131, 181, 0.7);
                    }
                    &.white {
                        stroke: rgb(248, 185, 242);
                    }
                }
            }
        }
        &.boosted {
            > line {
                &.link {
                    &.blue {
                        stroke-width: 2px;
                    }
                    &.white {
                        stroke-width: 1px;
                    }
                }
                &.booster {
                    &.white {
                        stroke: rgb(255, 255, 255);
                        stroke-width: 4px;
                        transition: all 500ms;
                    }
                    &.black {
                        stroke: rgb(102, 102, 102);
                        stroke-width: 3px;
                        transition: all 500ms;
                    }
                }
            }
        }
    }
}


// background: #bc78b3; /* Old browsers */
// background: -moz-linear-gradient(top, #bc78b3 0%, #ffbcfa 50%, #bc78b3 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, #bc78b3 0%,#ffbcfa 50%,#bc78b3 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, #bc78b3 0%,#ffbcfa 50%,#bc78b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc78b3', endColorstr='#bc78b3',GradientType=0 ); /* IE6-9 */